<template name="space_eventSourcing_debug_commit_list">

  <div class="space-eventSourcing-debug commit-list">

    <h1>Commits</h1>

    <ul class="commits">
      {{#each commits}}
        <li class="commit">
          <h2>
            {{sourceId}}
            <span class="meta">
              Version: {{version}},
              {{dateString insertedAt}},
              isPublished: {{isPublished}}
            </span>
          </h2>

          <ul class="commands">
            {{#each changes.commands}}
            <li class="command">
              <p class="type">{{$type}} <span class="meta"> Command</span></p>
              <pre class="value">{{$value}}</pre>
            </li>
            {{/each}}
          </ul>

          <ul class="events">
            {{#each changes.events}}
            <li class="event">
              <p class="type">{{$type}} <span class="meta"> Event</span></p>
              <pre class="value">{{$value}}</pre>
            </li>
            {{/each}}
          </ul>
        </li>
      {{/each}}
    </ul>

  </div>

</template>
